body{
    font-family:'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px auto;
        width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Section 1*/
.section1{
    display: block;
    background-color: #1F2937;
    padding-inline: 15%;

}

.header-container{
    display: flex;
    flex-direction: column;
    /*max-width: 1110px;
    margin: auto;*/



}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

#header-logo{
    color: #F9FAF8;
    font-size: 24px;
}


ul, a{
    display: flex;
    list-style: none;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    gap: 24px;
    margin: 0;
    padding: 0;

}

.intro-div{
    display: flex;
    align-items: center;
    margin-bottom: 130px;
    gap: 60px;


}
.intro-text{
}

#intro-title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    text-wrap: wrap;
    margin: 0;
    margin-bottom: 8px;
}

#intro-subtext{
    color: #E5E7EB;
    font-size: 18px;
    margin:0;
    margin-bottom: 16px;
}

#intro-img{

}


#sign-up-intro{
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 24px;
    border-radius: 10%;
    font-size: 18px;
    border-style: none;
    margin: auto;

}


/*Section 2*/
.section2{
    display: block;
    background-color: #F9FAF8;
    padding-inline: 25%;
}

#random-info-title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 24px;

}

.random-info-div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    gap: 40px;

}
.random-info-div p{
    font-size: 18px;
    color: #1F2937;
    margin: 5px;
    /*padding: 0 50px;*/
    max-width: 170px;
}

.random-info-div img{
    border-radius: 10%;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
}

/*section 3*/
.section3{
    display: block;
    background-color: #E5E7EB;
    padding-inline: 25%;
    color:#1F2937;
}

.quote-div{
    padding: 100px 0;
}

.section3 h2{
    font-size: 36px;
    font-weight:50;
    margin: 0;
}

.section3 h3{
    display: flex;
    justify-content: flex-end;

    font-weight: 600;

}


/*section 4*/
